@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.spinner-border {
	height: 5rem !important;
	width: 5rem !important;
	font-size: 30px;
}

.loading {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.text-bold {
	font-weight: bold;
}
